.arrow {
	@apply p-2;
	&::after {
		@apply bg-card;
		position: absolute;
		top: 8px;
		left: -4px;
		display: block;
		content: "";
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
	}
}

.arrow-reverse {
	@apply mr-2;
	&::before {
		@apply bg-card;
		position: absolute;
		top: 8px;
		right: -4px;
		display: block;
		content: "";
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
	}
}

.arrow-primary {
	@apply bg-primary;
	&::before {
		@apply bg-primary;
	}
}
